body {
  background-color: #def;
}

.polyhedron-control-container {
  width: 400px;

  display: inline-block;
  overflow: hidden;
}

.transform {
  background-color: white;
  font-size: 9px;
  overflow: hidden;
  height: 60px;
  width: 200px;
  word-break: break-all;
}
